<div>
    <form *ngIf="!savedState" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-question">
            <div *ngFor="let question of questions" class="form-row">
                <app-question
                    [question]="question"
                    [form]="form"
                    (changed)="valueChanged($event, question.key)"
                ></app-question>
            </div>
        </div>

        <div class="form-row form-submit flex">
            <button
                class="app-button-primary ml-auto text-sm leading-6 py-2 px-3"
                type="submit"
                [disabled]="!form.valid"
            >
                Save
            </button>
        </div>
    </form>
    <div *ngIf="savedState" class="flex">
        Successfully Saved!
        <button
            class="app-button-primary ml-auto text-sm leading-6 py-2 px-3"
            type="button"
            (click)="onClose()"
        >
            Close
        </button>
    </div>
</div>
