<div class="p-4">
    <h2 class="text-xl font-bold text-gray-900 dark:text-white">
        Delete costume ({{ data.costume.description }})
    </h2>
    <button
        (click)="close()"
        class="absolute top-0 right-0 text-sm leading-6 font-medium py-1 px-3 hover:bg-slate-100 rounded-full"
    >
        X
    </button>
    <div mat-dialog-content class="dialog-content">
        <p class="font-sans">Are you sure you want to delete this costume?</p>
        <div class="flex">
            <div class="ml-auto">
                <button
                    (click)="close()"
                    class="app-button-secondary text-sm leading-6 py-2 px-3"
                >
                    Cancel
                </button>
                <button
                    (click)="delete()"
                    class="app-button-danger ml-2 text-sm leading-6 py-2 px-3"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
